<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital ORB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js" type="text/javascript" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="../main.css">
<link rel="stylesheet" type="text/css" href="../time.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="timecalc.js"></script>
  <style>
	textarea{resize:none;}	
  </style>
   <script>
 $(document).ready(function(){
        var date_input=$('input[id="date1"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format:'dd-M-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
	$(document).ready(function(){
        var date_input=$('input[id="date2"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format:'dd-M-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'HH:mm'
                });
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'HH:mm'
                });
            });
        </script>
  </head>
  <body>
<div class="col-md-12" id="mainDiv" ng-app="">
<div id="inputDiv">
	<div class="col-sm-12">
	<center id="main-heading">Burning Of Sludge (C 12.4)</center>
	<center><i>Burning of oil residue(sludge) in boiler</i></center></div>	
	 <hr id="thr">
		 <div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Start Date</div>
					<div class="col-sm-6"><input class="form-control" id="date1" name="date" placeholder="DD/MM/YYY" type="text" ng-model="form.startDate"/></div>
				</div>
					<div class="col-sm-6">
					<div class="col-sm-4" class="form-group">Start Time</div>
					<div class="col-sm-4">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
           	 </div>
        <div class="col-sm-2" id="ltgmt">LT</div>
        </div>
	</div>
		<div class="row">
		<div class="col-sm-6">
		<div class="col-sm-6">Stop Date</div>
		<div class="col-sm-6"><input class="form-control" id="date2" name="date" placeholder="DD/MM/YYY" type="text" ng-model="stopDate"/></div><div class="col-sm-4"></div>
		</div>
					<div class="col-sm-6">
					<div class="col-sm-4" class="form-group">Stop Time</div>
					<div class=" col-sm-4">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
           	 </div>
            	<div class="col-sm-2" id="ltgmt">LT</div>
        		</div></div>
		<div class="row">
		<div class="col-sm-6">
			<div class="col-sm-6">Source Sludge Tank<br><span>(Ret- /Cap-)m<sup>3</sup></span></div>
			<div class="col-sm-6"><select id="list" class="form-control" ng-model="tankName">
<option value="SLUDGE TANK">SLUDGE TANK</option>
<option value="BILGE SEPERATED OIL TANK">BILGE SEPERATED OIL TANK</option>
<option value="PURIFIER SLUDGE  TANK">PURIFIER SLUDGE  TANK</option>
<option value="WASTE OIL TANK">WASTE OIL TANK</option>
</select></div></div>
<div class="col-sm-6">
			<div class="col-sm-4">Quantity Burned<span> (m<sup>3</sup>)</span></div>
			<div class="col-sm-4"><input type="number" size="6" class="form-control" ng-model="qtyBurned" id="testing"/></div>
			</div></div>				
	<div class="row">
	<div class="col-sm-6">
				<div class="col-sm-6">Quantity Retained in Source Tank<span> (m<sup>3</sup>)</span></div>
			<div class="col-sm-3"><input type="number" min="0" style="width:90px" class="form-control" ng-model="qtyRetained"/></div>			
		</div>
	</div>								
		<div class="row">
		<div class="col-sm-6">
		<div class="col-sm-6">Officer Rank</div>
		<div class="col-sm-6">
		<select id="incharge" class="form-control">
<option value="1">C/E</option>
<option value="2">2/E</option>
<option value="3">3/E</option>
<option value="4">4/E</option>
</select>
</div></div>
<div class="col-sm-6">
     <div class="col-sm-4">Officer Name</div>
	<div class="col-sm-5">
	<select id="incharge" class="form-control">
<option value="1">Prashant Kumar</option>
<option value="2">Sahil </option>
<option value="3">Vinay</option>
<option value="4">Devesh Gautam</option>
</select></div>	
</div></div>
<input type="text" id="timeDifference" style="display:none" ng-model="timeDifferenceInDiv"/>
		<hr id="bhr">	
		<div class="row">
				<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("inputDiv","outputDiv");>View Entry</button></center></div>
		</div>
	</div>
		<div id="outputDiv" style="display:none">
				<center>
						<table width="60%"align="center">
								<tr><th>Date</th><th>Code</th><th>Item No.</th><th>Record of operations</th></tr>
								<tr><td><center ng-bind="stopDate"></center></td><td><center>C</center></td><td><center>12.4</center></td><td>{{qtyBurned.toFixed(2)}} m3 Sludge from {{tankName}},&emsp;{{qtyRetained.toFixed(2)}} m3 retained</td></tr>
								<tr><td></td><td></td><td><center></center></td><td>Burned in Boiler for {{timeDifferenceInDiv}} hours</td></tr>
								<tr><td></td><td></td><td></td><td>Devesh Gautam,&emsp;C/E,&emsp;{{stopDate}},&emsp;</td></tr>
						</table>								
			</center>
			<div class="row">
					<div class="col-sm-12"><center><button class="btn btn-info" onclick="showHide('outputDiv','inputDiv')">Go Back</button>&nbsp<button class="btn btn-info">Submit</button></center></div>
				</div>
			</div>
				</div>
				<script>
				function showHide(hideDiv,showDiv)
				{
					timeCalculation();
				 var x = document.getElementById(hideDiv);
				   x.style.display = "none";
				   x = document.getElementById(showDiv);
				   x.style.display = "block";
				   
				}
				function zeroPutter(num)
					{
						if(num<10)
						{
							num='0'+num;
						}
						return num;
					}
					function timeToSeconds(time1,time2,dayDifference)
					{						
						var hour=time1.charAt(0)+time1.charAt(1);
						var min=time1.charAt(3)+time1.charAt(4);
						var second1=(hour*3600)+(min*60);
						var hour=time2.charAt(0)+time2.charAt(1);
						var min=time2.charAt(3)+time2.charAt(4);
						var second2=(hour*3600)+(min*60);
						var difference=second2-second1;
						var timeDiffrence;
						if(dayDifference==0)
						{
                            if(second2>=second1)
							{
                            timeDiffrence=zeroPutter(parseInt(difference/3600))+":"+zeroPutter(parseInt(difference%3600)/60);	
                            }
                            else{
                                timeDiffrence='00:00';
                                alert("Stop time should be Greater than start time");
                            }
						} 
						if(dayDifference>0)
						{						
							if(second2>=second1)
							{
							difference=dayDifference+difference;							
							}
							else{
								difference=(dayDifference-(24*3600))+((24*3600)-second1)+second2;
							}

							timeDiffrence=zeroPutter(parseInt(difference/3600))+":"+zeroPutter(parseInt(difference%3600)/60);						
						}
						if(dayDifference<0)
						{
                            timeDiffrence='00:00'
                            alert("Stop time should be Greater than start time");
						}
						document.getElementById('timeDifference').value=timeDiffrence;
						angular.element(jQuery("#timeDifference")).triggerHandler('input');
						
					}
					function timeCalculation()
					{		
						var time1=$("#datetimepicker1").find("input").val();
						var time2=$("#datetimepicker2").find("input").val();					
						var date1=new Date($("#date1").val());
						var date2=new Date($("#date2").val());
						var dayDifference=(date2-date1)/(1000);
						////alert("this is actual Day Difference "+dayDifference);
						timeToSeconds(time1,time2,dayDifference);	
					}
				</script>	
			</body>
		</html>