.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	width: 20%;
    
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
   // border: 1px solid #ccc;
    width: 80%;
    border-left: none;
   
}
#alertheading{
font-size:30px;
font-weight:bold;
font-family:times new roman
}
#lowerheading{
font-size:15px;
font-weight:bold;
margin-top:10px;
}
#selectiondrop{
background-color:#C2E6F7;
width:70px;
}
#nameheading{
font-size:20px;
font-weight:bold;
}
