body {
    font-family: "Lato", sans-serif;
	background-color:white;
}

/* Fixed sidenav, full height */
.sidenav {
    height:500px;
	width:200px;
	border-radius: 20px;
    //position: fixed;
    z-index: 1;
    margin-top:0%;
    left: 0;
   background-color:white;
    overflow-x: overlap;
    padding-top: 20px;
}

#homeRefresh{
	
	cursor: pointer;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #818181;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #2F4F4F;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #D3D3D3;
    padding-left: 8px;
	.dropdown-container a {font-size: 12px;}
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
