<!DOCTYPE html>
<html lang="en">
<head>
<title>Ship Details</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../main.css">
<style>
textarea {
	resize: none;
}
</style>

<script>
	$(document).ready(
			function() {
				var date_input = $('input[id="date"]'); //our date input has the name "date"
				var container = $('.bootstrap-iso form').length > 0 ? $(
						'.bootstrap-iso form').parent() : "body";
				date_input.datepicker({
					format : 'dd-M-yyyy',
					container : container,
					todayHighlight : true,
					autoclose : true,
				})
			})
</script>
</head>
<body>
		<div class="col-md-12" id="mainDiv" ng-app="">
				<div id="inputDiv">
		<div class="row">
			<center id="main-heading">Draining of Water From Sludge Tank
				To Bilge Tank (C 12.2)</center>

			<center>
				<i>Draining of water(disposal) from an oil residue (sludge) tank
					listed under item 3.1 in the supplement to the IOPPC,to a bilge
					water holding tank listed under item 3.3 in the supplement to the
					IOPPC
			</center>
			</i>
		</div>
		<hr id="thr">
		<div class="row">
			<div class="col-sm-6">

				<div class="col-sm-6">Start Date</div>
				<div class="col-sm-6">
					<input class="form-control" id="date" name="date"
						placeholder="DD/MM/YYY" type="text" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-6">Stop Date</div>
				<div class="col-sm-6">
					<input class="form-control" id="date" name="date2"
						placeholder="DD/MM/YYY" type="text" ng-model="stopDate" />
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">
					Source Sludge Tank<br>
					<span>(Ret- /Cap-)m<sup>3</sup></span>
				</div>

				<div class="col-sm-6">
					<select id="list" class="form-control" ng-model="tankNameSource">
						<option value="SLUDGE TANK">SLUDGE TANK</option>
						<option value="BLUDGE SEPERATED TANK">BLUDGE SEPERATED TANK</option>
						<option value="PURIFIER SLUDGE TANK">PURIFIER SLUDGE TANK</option>
						<option value="WASTE OIL TANK">WASTE OIL TANK</option>
						<option value="LEAK OIL TANK">LEAK OIL TANK</option>
					</select>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-6">
					Destination Bilge Tank<br>
					<span>(Ret- /Cap-)m<sup>3</sup></span>
				</div>

				<div class="col-sm-6">
					<select id="list" class="form-control">
						<option value="BILGE TANK">BILGE TANK</option>
						<option value="CLEAN BILGE TANK">CLEAN BILGE TANK</option>
						<option value="BILGE PRIMARY TANK">BILGE PRIMARY TANK</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">
					Quantity Transferred<span> (m<sup>3</sup>)
					</span>
				</div>

				<div class="col-sm-3">
					<input type="number" min="0" style="width: 90px"
						class="form-control" ng-model="qtyTransfered" />
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">
					Quantity Retained in Source Sludge Tank<span> (m<sup>3</sup>)
					</span>
				</div>

				<div class="col-sm-3">
					<input type="number" min="0" style="width: 90px"
						class="form-control" ng-model="qtyRetained"/>
				</div>

			</div>
			<div class="col-sm-6">
				<div class="col-sm-6">
					Quantity Retained in Destination Bilge Tank<span> (m<sup>3</sup>)
					</span>
				</div>

				<div class="col-sm-3">
					<input type="number" min="0" style="width: 90px"
						class="form-control" ng-model="qtyRetainedDestination"/>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">Officer Rank</div>
				<div class="col-sm-6">
					<select id="incharge" class="form-control">
						<option value="1">C/E</option>
						<option value="2">2/E</option>
						<option value="3">3/E</option>
						<option value="4">4/E</option>
					</select>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-6">Officer Name</div>
				<div class="col-sm-6">
					<select id="incharge" class="form-control">
						<option value="1">Prashant Kumar</option>
						<option value="2">Sahil Shrivastava</option>
						<option value="3">Vinay Kumar</option>
						<option value="4">Devesh Gautam</option>
					</select>
				</div>
			</div>
		</div>

		<hr id="bhr">
		<div class="row">
				<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("inputDiv","outputDiv");>View Entry</button></center></div>
		</div>
	</div>
	<div id="outputDiv" style="display:none">
			<center>
					<table width="60%"align="center">
							<tr><th>Date</th><th>Code</th><th>Item No.</th><th>Record of operations</th></tr>
							<tr><td><center ng-bind="stopDate"></center></td><td><center>C</center></td><td><center>12.2</center></td><td>{{qtyTransfered.toFixed(2)}} m3 water drained from  {{tankNameSource}},&emsp;{{qtyRetained.toFixed(2)}} m3 retained</td></tr>
							<tr><td></td><td></td><td><center></center></td><td>To {{tankNameDestination}},&emsp; retained in Tank {{qtyRetainedDestination.toFixed(2)}} m3</td></tr>
							<tr><td></td><td></td><td></td><td>Devesh Gautam,&emsp;C/E,&emsp;20-January-2018,&emsp;</td></tr>
							</table>
		</center>
		<div class="row">
				<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("outputDiv","inputDiv");>Go Back</button>&nbsp<button class="btn btn-info">Submit</button></center></div>
			</div>
		</div>
			</div>
			<script>
			function showHide(hideDiv,showDiv)
			{
			 var x = document.getElementById(hideDiv);
			   x.style.display = "none";
			   x = document.getElementById(showDiv);
			   x.style.display = "block";
			}
			</script>
</body>
</html>
