div{padding:3px}
table{
	width:80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	padding-left:10px;
}
th{
	text-align:center;
}
a:hover{
	
	text-declaration:none;
}	
#Content{
	border-radius: 8px;
	background-color:#A5F5DD;
	  box-shadow: 5px 10px #82b2ab;
	  min-width:800px

}

div a{
	cursor:pointer
}

div #repeat0{
	background-color:#eff3f7;
}
.fa-info-circle{
color:#0476f7;
padding:0;
}
.fa-plus{
	color:black;
	margin-top:5%;
}	
.fa-minus{
	color:black;
	margin-top:5%;
}
.row{
	padding: 0;
	margin:0;
	
}
#date{
	padding: 0 0 0 5px;
	height:28px; 
}
#list{
	padding:0 0 0 0;
	height:28px; 
}

#incharge{
	padding:0 0 0 0;
	height:28px; 
}
#Officername{
		padding:0 0 0 0;
	height:28px; 
}

input[type=number]{
padding:1 0 0 0;
	height:28px;
	margin:0; 
	min-width:60px;
	max-width: 120px;
	padding-right:0px;
 }
 input[type=text]{
padding:1 0 0 0;
	height:28px;
	margin-right:0; 
 }
 
.northeast{
 width:20px;
 background-color: red;
 }

select { 
 padding:0 0 0 0;
	height:28px; 
}
#bhr{
	padding:0;
	width:100%;	
	border-top: 1px solid gray;
	padding-buttom:10px;
	margin:10px 0px 5px 0px;
}
#thr{
	padding:0;
	width:100%;	
	border-top: 1px solid gray;
	padding-buttom:10px;
	margin:0px 0px 10px 0px;
}


.input-group-addon{
	padding:0px 7px 0px 7px;
}



div #ltgmt{
	padding-top:7px;
	padding-left:0px;
	
}

input{
	padding:0;
}
.row{
	padding:0;
}
.col-sm-1{
	margin:0;
	padding:0;
}
div .col-sm-3{
	margin:0;
	padding-right:0;
}
.form-group{
	margin:0;
	padding-right:0;
}
#main-heading{
	font-size:22px;
}
div .form-control{
	padding:0 0 0 0;
	height:28px; 
}

#texthight{
	 padding:0 0 0 0;
	height:28px; 
}
div i{
	padding-left:10px;
}


.btn .btn-info:hover{
	background-color: #0476f7;
}
div #date{
	padding:0;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

input[type="checkbox"]{
  width: 18px; /*Desired width*/
  height: 20px; /*Desired height*/
}

div #fileup{
		padding-left: 15px;
}

div #btnup{
	padding:3px;
	text-align: center;
}

div #ltd{
	padding:0px 7px 0px 7px;
}

	.input-group {
    width:auto;
}
.unity-input .form-control {
    border-right:0!important;
}
.unity-input .input-group-addon {
    background:white!important;
    border-left:none!important;
    color:#333;
}

div #margin{
	margin-top: 3px;
}

span #basic-addon2{	
	padding:0px;
}

div #padding{
	padding:0;
}

div #paddingright{
	padding-right:0;
}