<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital ORB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
	<link rel="stylesheet" type="text/css" href="../main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<style>
	textarea{resize:none;}
  </style>
    <script>
 $(document).ready(function(){
        var date_input=$('input[id="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format:'dd-M-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
  </head>
  <body>
			<div class="col-md-12" id="mainDiv" ng-app="">
					<div id="inputDiv">
  <div class="col-sm-12">
  <center id="main-heading">Regenration Of Fuel Oil From Sludge (C 12.4)</center></div>	
  <hr id="thr">
  <div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Start Date</div>
					<div class="col-sm-6"><input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text"/></div>
				</div>
					<div class="col-sm-6">
					<div class="col-sm-6">Stop Date</div>
					<div class="col-sm-6"><input class="form-control" id="date" name="date2" placeholder="DD/MM/YYY" type="text" ng-model="stopDate"/></div>
				</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
		<div class="col-sm-6">Source Sludge Tank<br><span>(Ret- /Cap-)m<sup>3</sup></span></div>
		<div class="col-sm-6"><select id="list" class="form-control" ng-model="sourceTank">
				<option value="SLUDGE TANK">SLUDGE TANK</option>
				<option value="BILGE SEPRATED OIL TANK">BILGE SEPRATED OIL TANK</option>
				<option value="PURIFIER SLUGE TANK">PURIFIER SLUGE TANK</option>
				<option value="WASTE OIL TANK">WASTE OIL TANK</option>
				</select></div></div>
				<div class="col-sm-6">
					<div class="col-sm-6 ">Destination Bilge Tank<br><span>(Ret- /Cap-)m<sup>3</sup></span></div>
				<div class="col-sm-6"><select id="list" class="form-control" ng-model="destinationTank">
<option value="BILGE TANK">BILGE TANK</option>
<option value="CLEAN BILGE TANK">CLEAN BILGE TANK</option>
<option value="BILGE PRIMARY TANK">BILGE PRIMARY TANK</option>
</select></div>
				</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Quantity Of Sludge Disposed<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number" size="5" class="form-control" ng-model="qtySludge"/></div>
				</div>
					<div class="col-sm-6">
					<div class="col-sm-6">Quantity Of Bilge water Generated<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number" size="5" class="form-control" ng-model="qtyBilge"/></div>
				</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Quantity Retained in Source Sludge Tank<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number" size="5" class="form-control" ng-model="qtyRetainedSource"/></div>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-6">Quantity Retained in Destination Bilge Tank<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number" size="5" class="form-control" ng-model="qtyRetainedDestination"/></div>
				</div>
					
	</div>
	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Destination Fuel Tank<br><span>(Cap-)m<sup>3</sup></span></div>
					<div class="col-sm-6"><select id="list"class="form-control" ng-model="destinationFuelTank">
<option value="NO.1 FUEL OIL TANK'PORT'">NO.1 FUEL OIL TANK'PORT'</option>
<option value="NO.1 FUEL OIL TANK'STBD'">NO.1 FUEL OIL TANK'STBD'</option>
<option value="NO.2 FUEL OIL TANK'PORT'">NO.2 FUEL OIL TANK'PORT'</option>
<option value="NO.2 FUEL OIL TANK'STBD'">NO.2 FUEL OIL TANK'STBD'</option>
</select></div>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-6">Quantity Of Fuel Generated<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number" size="5" class="form-control" ng-model="qtyFuelGenerated"/></div>
				</div>
	</div>
	<div class="row">
						<div class="col-sm-6">
							<div class="col-sm-6">Officer Rank</div>
							<div class="col-sm-6"><select id="incharge" class="form-control">
								<option value="1">C/E</option>
								<option value="2">2/E</option>
								<option value="3">3/E</option>
								<option value="4">4/E</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-6">Officer Name</div>
							<div class="col-sm-5"><select id="incharge" class="form-control">
							<option value="1">Prashant Kumar</option>
							<option value="2">Sahil Shrivastava</option>
							<option value="3">Vinay Kumar</option>
							<option value="4">Devesh Gautam</option>
							</select>
						</div>	
					</div>
				</div>
				<p><i>Note: Collection of bilge water need not to be accounted for ,so only one entry is required.</i></p>
				<hr id="bhr">
				<div class="row">
						<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("inputDiv","outputDiv");>View Entry</button></center></div>
				</div>	
			</div>
			<div id="outputDiv" style="display:none">
					<center>
							<table width="60%"align="center">
									<tr><th>Date</th><th>Code</th><th>Item No.</th><th>Record of operations</th></tr>
									<tr><td><center ng-bind="stopDate"></center></td><td><center>C</center></td><td><center>12.4</center></td><td>{{qtySludge.toFixed(2)}} m3 Sludge disposed by
									 regeneration of {{qtyRetainedSource.toFixed(2)}} m3 fuel in {{destinationFuelTank}}</td></tr>
									 <tr><td></td><td></td><td></td><td> and {{qtyBilge.toFixed(2)}} m3 of Water in {{destinationTank}}</td></tr>
									<tr><td></td><td></td><td></td><td>Devesh Gautam,&emsp;C/E,&emsp;{{stopDate}},&emsp;</td></tr>
									</table>
									
				</center>
				<div class="row">
						<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("outputDiv","inputDiv");>Go Back</button>&nbsp<button class="btn btn-info">Submit</button></center></div>
					</div>
				</div>
					</div>
					<script>
					function showHide(hideDiv,showDiv)
					{
					 var x = document.getElementById(hideDiv);
						 x.style.display = "none";
						 x = document.getElementById(showDiv);
						 x.style.display = "block";
					}
					</script>
  </body>
  </html>
  