<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital ORB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
	<link rel="stylesheet" type="text/css" href="../main.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
	textarea{resize:none;}

  </style>

    <script>
	
 $(document).ready(function(){
        var date_input=$('input[id="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format:'dd-M-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
  </head>
  <body>
		<div class="col-md-12" id="mainDiv" ng-app="">
			<div id="inputDiv">
  <div class="col-sm-12">
	<div class="row">
		<center id="main-heading">Discharge to Shore Facility (C 12.1)
</center>
	<center><i>Disposal of oil residue(sludge) via shore connection</i></center></div>
	<hr id="thr">
	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Start Date</div>
					<div class="col-sm-6"><input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text"/></div>
				</div>
					<div class="col-sm-6">
					<div class="col-sm-6">Stop Date</div>
					<div class="col-sm-6"><input class="form-control" id="date" name="date2" placeholder="DD/MM/YYY" type="text" ng-model="stopDate" /></div>
				</div>
	
	</div>
	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Source Tank<br><span>(Ret- /Cap-)m<sup>3</sup></span></div>
					<div class="col-sm-6"><select id="list" class="form-control" ng-model="tankName">
				<option value="SLUDGE TANK">SLUDGE TANK</option>
				<option value="BILGE SEPRATED OIL TANK">BILGE SEPRATED OIL TAN</option>
				<option value="PURIFIER SLUGE TANK">PURIFIER SLUGE TANK</option>
				<option value="WASTE OIL TANK">WASTE OIL TANK</option>
				</select></div>
				</div>
					<div class="col-sm-6">
					<div class="col-sm-6">Quantity Transferred<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number"  size="3" class="form-control" ng-model="qtyTransfer" /></div>
				</div>
	
	</div>
	<div class="row">
	<div class="col-sm-6">
					<div class="col-sm-6">Quantity Retained in Source Tank<span> (m<sup>3</sup>)</span></div>
					<div class="col-sm-4"><input type="number" size="3" class="form-control" ng-model="qtyRetained" /></div>
				</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Identity of Sludge receiver</div>
					<div class="col-sm-5"><textarea cols="16" rows="2" class="form-control" ng-model="sludgeReceiver"></textarea></div><i class="fa fa-info-circle"  title="Identity or name of sludge receiver, i.e. barge, tank truck or shore facility."aria-hidden="true"></i>
					
				</div>
					<div class="col-sm-6">
					<div class="col-sm-6">Port</div>
					<div class="col-sm-6"><input type="text" id="textheight" class="form-control" ng-model="portName"/ ></div>
				</div>
	
	</div>
	<div class="row">
		<div class="col-sm-6">
					<div class="col-sm-6">Discharge Certificate</div>
					  <div class="col-sm-6 input-group" id="fileup">
            	<input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                    <span class="btn btn-info btn-file" id="btnup">
                        Browse<input type="file" single>
                    </span>
                </span>             
            </div>
					
				</div>
				<div >
					<div><i class="fa fa-info-circle" aria-hidden="true" title="Name of the port where sludge was discharged to shore facility"></i></div>
				</div>				
	
	</div>
	
	<div class="row">
						<div class="col-sm-6">
							<div class="col-sm-6">Officer Rank</div>
							<div class="col-sm-6"><select id="incharge" class="form-control">
								<option value="1">C/E</option>
								<option value="2">2/E</option>
								<option value="3">3/E</option>
								<option value="4">4/E</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-6">Officer Name</div>
							<div class="col-sm-6"><select id="incharge" class="form-control">
							<option value="1">Prashant Kumar</option>
							<option value="2">Sahil Shrivastava</option>
							<option value="3">Vinay Kumar</option>
							<option value="4">Devesh Gautam</option>
							</select>
						</div>	
					</div>
				</div>
				<hr id="bhr">
				<div class="row">
					<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("inputDiv","outputDiv");>View Entry</button></center></div></div>
	</div>
</div>
<div id="outputDiv" style="display:none">
	<center>
	<table width="60%"align="center">
		<tr><th>Date</th><th>Code</th><th>Item No.</th><th>Record of operations</th></tr>
		<tr><td><center ng-bind="stopDate"></center></td><td><center>C</center></td><td><center>12.1</center></td><td>{{qtyTransfer.toFixed(2)}} m3 Sludge from {{tankName}},&emsp;{{qtyRetained.toFixed(2)}} m3 retained</td></tr>
		<tr><td></td><td></td><td><center></center></td><td>To {{sludgeReceiver}} during port stay at {{portName}}</td></tr>
		<tr><td></td><td></td><td></td><td>Devesh Gautam,&emsp;C/E,&emsp;{{stopDate}},&emsp;</td></tr>
		</table>
		</center>
		<div class="row">
			<div class="col-sm-12"><center><button class="btn btn-info" onclick=showHide("outputDiv","inputDiv");>Go Back</button>&nbsp<button class="btn btn-info">Submit</button></center></div>
		</div>
	</div>
</div> 
<script>
	function showHide(hideDiv,showDiv)
	{
	 var x = document.getElementById(hideDiv);
	   x.style.display = "none";
	   x = document.getElementById(showDiv);
	   x.style.display = "block";
	}
	</script>
   </body>
  </html>